<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Trang chủ</a></li>
            <li class="nav-item"><a href="/accounts" class="nav-link px-2 text-muted">Thủ thư</a></li>
            <li class="nav-item"><a href="/categories" class="nav-link px-2 text-muted">Thể loại</a></li>
            <li class="nav-item"><a href="/books" class="nav-link px-2 text-muted">Sách</a></li>
            <li class="nav-item"><a href="/bills" class="nav-link px-2 text-muted">Phiếu mượn</a></li>
        </ul>
        <p class="text-center text-muted">&copy; Quản Lý Thư Viện</p>
    </footer>
</div>