<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://ap.poly.edu.vn/images/logo.png" alt="Logo" style="height: 70px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/categories">Thể loại</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/products">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/users">Người dùng</a>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="me-2 d-none d-lg-inline text-gray-600 small">
                        <%= userInfor.fullname %>
                    </span>
                    <img src="<%= userInfor.avatar %>" alt="">
                </button>

                <ul class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                    <li><a class="dropdown-item" href="/profile/<%= userInfor._id %>">Hồ sơ</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>